@use "variable";

.scene{
   padding-top: 149px;
   // background: linear-gradient(#fff 0 187px, #F2F4F1 187px 1369px, #fff 1369px 100%);
  @include variable.mq(){
     padding-top: 92px;
  }
   .container{
      padding: 0 63px;
      max-width: 1314px;
      position: relative;
      @include variable.mq(){
         padding: 0 50px;
      }
      @include variable.mq(){
         padding: 0 12px;
      }
      &::after{
         position: absolute;
         content: "";
         width: 100%;
         height: 37.4%;
         top: 10%;
         left: 0;
         background-color: variable.$back;
         z-index: -1;
         @include variable.mq(){
            top: 9%;
            height: 39%;
         }
      }
      &::before{
         position: absolute;
         content: "";
         width: 100%;
         height: 38%;
         top: 59%;
         left: 0;
         background-color: variable.$back;
         z-index: -1;
         @include variable.mq(){
            top: 57%;

         }
      }
   }
}
.scene1, .scene2{
   margin-top: 90px;
   position: relative;
   @include variable.mq(){
      margin-top: 42px;
   }
}

.scene-num{
   font-size: 48px;
   position: absolute;
   top: -20px;
   left: 67px;
   padding-left: 37px;
   font-family: variable.$font-en;
   @include variable.mq(tab){
      font-size: 32px;
      top: -15px;
      padding-left: 12px;
      left: 50px;
   }
   @include variable.mq(){
      font-size: 24px;
      left: 12px;
      padding-left: 19px;
      top: -10px;
   }
}
.scene-topimg{
   margin: 0 67px 58px 67px;
   @include variable.mq(tab){
      margin: 0 42px 32px 42px;
   }
   @include variable.mq(){
      margin: 0 12px 20px 12px;
      height: 176px;
      img{
         height: 100%;
         object-fit: cover;
      }
   }
}
.scene-flex{
   display: flex;

   @include variable.mq(){
      display: block;
   }

   .scene-point-title{
      font-family: variable.$font-en;
      font-size: 20px;
      line-height: 1.25;
      font-weight: 400;
      position: relative;
      margin-bottom: 14px;
      @include variable.mq(){
         font-size: 16px;
      }

      span{
         display: inline-block;
         background-color: #fff;
         position: relative;
         z-index: 1;
         padding-right: 10px;
      }

      &::after{
         position: absolute;
         content: "";
         width: 100%;
         height: 1px;
         background-color: variable.$text;
         top: 40%;
         right: 0;

      }
   }
   p{
      font-size: 16px;
      line-height: 1.44;
      font-weight: 400;
      @include variable.mq(tab){
         font-size: 14px;
      }
   }
}
.scene1-flex{
   margin-right: 67px;
   @include variable.mq(tab){
      margin-right: 0;
   }
   @include variable.mq(){
      margin-right: 0;
   }
   .scene-text{
      padding: 72px 129px 82px 68px;
      @include variable.mq(tab){
         padding: 32px 62px 32px 32px;
      }
   }
}
.scene2-flex{
   margin-left: 67px;
   flex-direction: row-reverse;
   @include variable.mq(tab){
      margin-left: 0;
   }
   @include variable.mq(){
      margin-left: 0;
   }
   .scene-text{
      padding: 72px 68px 82px 129px;
      margin-left: -85px;
      position: relative;
      @include variable.mq(tab){
         padding: 32px 32px 32px 62px;
         margin-left: -30px;
         z-index: -1;
      }

   }
   .scene-img2{
      margin-left: 30px;
      margin-top: 58px;
      position: relative;
   }
   .scene-img1{
      margin-left: 0;
  
   }
}
.scene-text{
   background-color: #fff;
   box-shadow: 0px 4px 4px 0px #00000029;
   width: 659px;
  @include variable.mq(tab){
     width: 70%;
  }
   @include variable.mq(){
      width: 100%;
      padding: 24px 31px !important;
      max-width: 350px;
      margin-left: auto !important;
      margin-right: auto;
   }
}

.scene-title.is-pc{
   background-color: #998866;
   color: #Fff;
   font-size: 24px;
   line-height: 44px;
   display: inline-block;
   margin-bottom: 62px;
   padding: 0 2px;
   @include variable.mq(tab){
      font-size: 18px;
   }
   @include variable.mq(){
      display: none !important;
   }
}

.scene-title.is-sp{
   margin-bottom: 24px;
   p{
      span{
         background-color: #998866;
         color: #fff;
         font-size: 18px;
         line-height: 36px;
         padding: 0 9px;
         display: inline-block;
         @media screen and (max-width: 350px) {
            font-size: 16px;
         }
      }

      &:first-child{
         margin-bottom: 8px;
      }
      &.is-right{
         @include variable.mq(){
            text-align: right;
         }
      }

   }
}
.scene-point2{
   margin-top: 46px;
   @include variable.mq(){
      margin-top: 24px;
   }

}


.scene-img1{
   width: calc((100% - 604px) / 2);
   margin-left: -85px;
   margin-top: 96px;
   @include variable.mq(tab){
      width: 35%;
      margin-left: -30px;
      margin-top: 5%;
   }
   @include variable.mq(){
      width: 100%;
      height: 132px;
      margin-left: 0;
      margin-top: 16px;
      img{
         height: 100%;
         object-fit: cover;
      }
   }
}
.scene-img2{
   width: calc((100% - 604px) / 2);
   margin-left: 30px;
   @include variable.mq(tab){
      display: none;
   }
   @include variable.mq(){
      width: 100%;
      height: 132px;
      margin-left: 0;
      margin-top: 16px;
      img{
         height: 100%;
         object-fit: cover;

      }
   }
}

.scene-lineup{
   margin: 58px 169px 0;
   @include variable.mq(tab){
      margin: 58px 42px 0;
   }
   @include variable.mq(){
      margin: 24px 0 0;
   }
}

.scene-lineup-title{
   font-weight: 500;
   text-align: center;
   font-size: 20px;
   margin-bottom: 16px;
   p{
      display: inline-block;
      position: relative;

      &::before, &::after{
         position: absolute;
         content: "";
         top: 50%;
         width: 240px;
         height: 1px;
         background-color: variable.$text;
         left: -300px;
         @include variable.mq(tab){
            width: 160px;
            left: -190px;
         }

         @include variable.mq(){
            width: 48px;
            left: -61px;
         }
      }
      &::after{
         left: calc(100% + 60px);
         @include variable.mq(tab){
            left: calc(100% + 30px);
         }
         @include variable.mq(){
            left: calc(100% + 13px);
         }
      }
   }
   @include variable.mq(){
      font-size: 18px;
   }
   span{
      font-family: variable.$font-en;
      color: variable.$text;
      display: inline-block;
      margin-top: 15px;
      color: #B1B6AF;
      font-weight: 400;
      @include variable.mq(){
         font-size: 16px;
      }
   }

   
}

.scene-lineup-list{
   display: flex;
   justify-content: space-between;
   li{
      width: calc((100% - 100px) / 3);
      @include variable.mq(tab){
         width: calc((100% - 80px) / 3);
      }
      @include variable.mq(){
         width: calc((100% - 40px) / 3);
      }

      &:hover{
         cursor: pointer;
      }

   }
}
.scene-lineup-img{
   aspect-ratio: 1 / 1;
}
.scene-lineup-text{
   background-color: #F2F4F1;
   box-shadow: 0px 4px 4px 0px #00000029;
   padding: 23px 0 67px 18px;
   border-radius: 8px;
   @include variable.mq(tab){
      height: 132px;
   }
   @include variable.mq(){
      padding: 7px 12px;
      height: 96px;
   }
}
.scene-lineup-name{
   font-size: 20px;
   margin-bottom: 8px;
   @include variable.mq(){
      font-size: 18px;
   }
   @include variable.mq(){
      font-size: 14px;
   }
} 

.scene-lineup-subtitle{
   font-weight: 300;
   @include variable.mq(){
      font-size: 14px;
   }
}

