@use "variable";

.solution{
   background: url(../img/solution_bg.jpeg) no-repeat center center / cover;
   position: relative;
   @include variable.mq(){
      padding-bottom: 86px;
   }
}
.solution-list{
   display: flex;
   flex-wrap: wrap;
   gap: 32px 44px;
   @include variable.mq(){
      gap: 20px;
   }
}
.solution-item{
   width: 100%;
   font-weight: 500;
   font-size: 24px;
   padding: 28px 40px 28px 95px;
   background-color: #fff;
   box-shadow: 0px 4px 4px 0px #00000029;
   border-radius: 32px;
   position: relative;
   line-height: 1.44;
   @include variable.mq(tab){
      font-size: 16px;
   }
   @include variable.mq(){
      font-size: 14px;
      padding: 25px 40px 25px 67px;
   }
   &::before{
      position: absolute;
      content: "";
      width: 16px;
      height: 13px;
      background: url(../img/check.svg);
      background-size: contain;
      left: 45px;
      top: 50%;
      transform: translateY(-50%);
      @include variable.mq(){
         width: 11px;
         height: 9px;
         left: 35px;
      }
   }
   &::after{
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      border: 2px solid #669988;
      border-radius: 40px;
      left: 35px;
      top: 50%;
      transform: translateY(-50%);
      @include variable.mq(){
         width: 24px;
         height: 24px;
         left: 27px;
      }
   }
}
.solution-item.solution-item-half{
   width: calc((100% - 44px) / 2);
   @include variable.mq(){
      width: 100%;
   }
}

.solution-text{
   text-align: center;
   position: absolute;
   left: 50%;
   bottom: -41px;
   width: 1013px;
   height: 83px;
   transform: translateX(-50%);
   background-color: #669988;
   color: #fff;
   font-size: 24px;
   line-height: 83px;
   @include variable.mq(tab){
      width: calc(100% - 100px);
      font-size: 16px;
   }
   @include variable.mq(){
      font-size: 16px;
      width: calc(100% - 48px);
      height: auto;
      line-height: 1.44;
      padding: 20px 0;
      bottom: -58px;
   }
   @media screen and (max-width: 350px) {
      font-size: 14px;
   }
   &::before{
      position: absolute;
      width: calc(100% + 22px);
      height: calc(100% - 20px);
      content: "";
      border: 1px solid variable.$text;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      
   }
   span{
      position: relative;
      display: inline-block;
      height: 83px;
      &::before{
         position: absolute;
         content: "";
         width: 55px;
         height: 5px;
         background-color: #669988;
         bottom: 8px;
         left: 50%;
         transform: translateX(-50%);
         @include variable.mq(){
            width: 40px;
            bottom: -13px;
         }
      }
      &::after{
         position: absolute;
         content: "";
         width: 30px;
         height: 1px;
         background-color: variable.$text;
         bottom: -1.7px;
         left: calc(50% + 4px);
         transform: rotate(-55deg);
         @include variable.mq(){
            bottom: -21.7px;
            left: calc(50% - 2px);
         }
      }
   }
}